/* *{
    background-color: antiquewhite
} */
nav{
    background-color: rgb(118, 15, 15);
    padding: 10px 0;
}
.titulo{
    text-align: center;
    font-family: cursive;
}

.produtos{
    font-family: cursive;
}

.sobrenos{
    /* justify-content: center; */
    font-family: cursive;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    position: relative;
    margin: 0 18px;
}

nav ul li a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: color 0.3s;
    
}
nav ul li a:hover{
    color: rgb(249, 98, 98);
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    padding: 0;

 }
nav ul li .dropdown-content li{
   margin: 0;

}
nav ul li .dropdown-content li a{
    padding: 10px 15px;
 }

 nav ul li .dropdown-content li a:hover{
    background-color:bisque;
 }

 
 nav ul li:hover .dropdown-content{
    display: block; 
 }
footer{
    background-color: rgb(163, 53, 53);
    padding: 2px 0;
    color: white;
    justify-content: center;
}
